<button mat-icon-button class="add-button" (click)="addNewOwner()">
  <mat-icon>add</mat-icon>
</button>
<mat-divider style="margin-top: 10px; margin-buttom: 10px; background: #c5cae9"></mat-divider>

<mat-accordion class="owner-card">
  <mat-expansion-panel class="owner-panel" expanded *ngFor="let owner of owners">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1 style="color: white">{{owner.username}}</h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="owner-panel-details">
      <mat-card-content>
        <app-owner-details class="details" [owner]="owner"></app-owner-details>
      </mat-card-content>
      <mat-card-actions class="owner-action">
        <button mat-raised-button style="margin: 10px" color="primary">Change Role</button>
        <span class="spacer"></span>
        <button mat-raised-button style="margin: 10px" color="primary">Edit</button>
        <button mat-raised-button style="margin: 10px" color="accent">Delete</button>
      </mat-card-actions>
    </mat-card>

  </mat-expansion-panel>
</mat-accordion>
