.owner-card {
  width: 100%;
  height: fit-content;

  margin-top: 20px;
  padding: 20px;
}

.owner-panel {
  background-color: #3f51b5;
  border-radius: 16px;
}

.owner-panel-details {
  height: fit-content;
  width: 100%;
  background-color: #c5cae9;
  grid-column: 1;
}

.add-button {
  margin-top: 10px;
  background: #c5cae9
}
