.owner-property {
  width: 100%;
}

.owner-panel {
  background-color: #3f51b5;
  border-radius: 16px;
}

.owner-panel-details {
  height: fit-content;
  width: 100%;
  background-color: #c5cae9;
  grid-column: 1;
}


.details {
  width: 100%;
  display: grid;

  grid-template-columns: 0.5fr 0.5fr;
  grid-template-row: 0.5fr 0.5fr;
  row-gap: 10px;
  column-gap: 10px;
}
