<div class="app-container">
  <mat-expansion-panel class="organization-container" [expanded]="true">
    <mat-expansion-panel-header style="margin: auto;">
      <mat-panel-title>
        {{city}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="map-container">
      <app-map-display
        [onMapOrganizationEvent]="lastSelectedOrganizationDisplayEvent"
        [selectedToggleDisplay]="enableComplexUrbanZoneSelector"
        (navigatedOrganizationEventEmitter)="onNavigatedOrganization($event)">
      </app-map-display>
    </div>
    <app-organization-display
      [mapSelectedSector]="lastNavigatedMapOrganizationEvent"
      (selectedOrganizationEmitter)="onSelectedOrganizationDisplayEmitEvent($event)"
      (enableComplexUrbanZoneSelector)="onEnableComplexUrbanZoneSelector($event)">
    </app-organization-display>
  </mat-expansion-panel>
</div>
