@mixin full-size() {
  width: auto;
  height: auto;
}

@mixin init-position() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin shadow(){
  border-radius: 20px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.app-container {
  @include full-size;
  @include init-position;

}

.map-container {
  @include full-size;
  @include shadow;

  margin: 20px;
}

.organization-container {
  @include full-size;
  @include shadow;

  margin: 20px;

  border-radius: 20px;

  background-color: #303F9F;
}

mat-panel-title{
  width: auto;
  font-size: 16px;
  color: white;
}
