<mat-tab-group [selectedIndex]="selectedIndex.value" (selectedIndexChange)="changeTab($event)"
               backgroundColor="primary" color="accent" dynamicHeight>
  <mat-tab [label]="sectorTabName">
    <div class="sector-container">
        <mat-selection-list [multiple]="false">
          <mat-list-option #sectorElem *ngFor="let sector of sectorList" (click)="clickSector(sector)">
              {{sector.name}}
          </mat-list-option>
        </mat-selection-list>
    </div>
  </mat-tab>
  <mat-tab [label]="neighborhoodTabName" [disabled]="neighborhoodDisabled">
    <div class="neighborhood-container">
        <mat-selection-list [multiple]="false">
          <mat-list-option #neighborhoodElem *ngFor="let neighborhood of selectedSectorNeighborhoods" (click)="clickNeighborhood(neighborhood)">
              {{neighborhood.name}}
          </mat-list-option>
        </mat-selection-list>
    </div>
  </mat-tab>
  <mat-tab [label]="complexAndUrbanZoneTabName" [disabled]="complexDisabled">
    <div class="complex-container">
      <mat-expansion-panel class="complex-section" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Complexes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion class="sub-section">
          <mat-expansion-panel class="sub-section-option" *ngFor="let complex of selectedNeighborhoodComplexes" (click)="clickComplex(complex)">
            <mat-expansion-panel-header #complexElem>
              <mat-panel-title>
                {{complex.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-selection-list class="sub-section" [multiple]="false">
              <mat-list-option class="sub-section-option accent" #uzElem *ngFor="let urbanZone of complex.children" (click)="clickUrbanZone(urbanZone)">
                {{urbanZone.name}} : {{urbanZone.type}}
              </mat-list-option>
            </mat-selection-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
      <mat-expansion-panel class="urban-section" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
              Urban Zones
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list class="sub-section" [multiple]="false">
          <mat-list-option #uzElem class="sub-section-option" *ngFor="let urbanZone of selectedNeighborhoodUrbanZones" (click)="clickUrbanZone(urbanZone)">
            {{urbanZone.name}} : {{urbanZone.type}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
    </div>
  </mat-tab>
  <mat-tab [label]="urbanZoneTabName" [disabled]="urbanZoneDisabled">
    <app-organization-urban-zone
      [currentUrbanZone]="this.selectedUrbanZone"
      [parentSector]="sectorTabName"
      [parentNeighbourhood]="neighborhoodTabName"
      [parentComplex]="selectedComplex ? selectedComplex.name : 'None'"
    ></app-organization-urban-zone>
  </mat-tab>
</mat-tab-group>
