<mat-form-field appearance="outline">
  <mat-label>Urban Zone Type</mat-label>
  <mat-select [(ngModel)]="urbanZone.type" [disabled]="readonlyData">
    <mat-option *ngFor="let type of urbanZoneTypes" [value]="type">
      {{type}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field appearance="outline">
  <mat-label>Name</mat-label>
  <input [readonly]="readonlyData" [(ngModel)]="urbanZone.name" matInput placeholder="Urban zone name ...">
</mat-form-field>
<br>
<mat-form-field appearance="outline">
  <mat-label>Owner Id</mat-label>
  <input [readonly]="readonlyData" [(ngModel)]="urbanZone.ownerId" matInput placeholder="UUID">
  <mat-hint>Copy the owner id from the owner page</mat-hint>
</mat-form-field>
