<mat-tab-group backgroundColor="primary" color="accent" dynamicHeight>
  <mat-tab label="Sector">
    <mat-card class="sector-container">
      <mat-card-content>
        Content
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Neighborhood">
    <mat-card class="neighborhood-container">
      <mat-card-content>
        Content
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Complex">
    <mat-card class="complex-container">
      <mat-card-content>
        Content
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
